__pycache__/
*.py[cod]
*$py.class
*.so
.env
instance/
*.db
*.db-journal
venv/
.venv/
env/
*.egg-info/
dist/
build/
.eggs/
static/uploads/
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store
WhatsApp Video 2026-06-07 at 4.28.30 PM.mp4
